<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>c02_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,25}</string>
                <key>spriteSourceSize</key>
                <string>{31,25}</string>
                <key>textureRect</key>
                <string>{{28,0},{31,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c02_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,26}</string>
                <key>spriteSourceSize</key>
                <string>{30,26}</string>
                <key>textureRect</key>
                <string>{{25,50},{30,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c02_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,26}</string>
                <key>spriteSourceSize</key>
                <string>{38,26}</string>
                <key>textureRect</key>
                <string>{{0,76},{38,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c02_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,25}</string>
                <key>spriteSourceSize</key>
                <string>{33,25}</string>
                <key>textureRect</key>
                <string>{{0,25},{33,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c02_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,26}</string>
                <key>spriteSourceSize</key>
                <string>{27,26}</string>
                <key>textureRect</key>
                <string>{{0,102},{27,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c02_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,25}</string>
                <key>spriteSourceSize</key>
                <string>{26,25}</string>
                <key>textureRect</key>
                <string>{{33,25},{26,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c02_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,26}</string>
                <key>spriteSourceSize</key>
                <string>{26,26}</string>
                <key>textureRect</key>
                <string>{{27,102},{26,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c02_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,25}</string>
                <key>spriteSourceSize</key>
                <string>{25,25}</string>
                <key>textureRect</key>
                <string>{{0,50},{25,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c02_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,19}</string>
                <key>spriteSourceSize</key>
                <string>{28,19}</string>
                <key>textureRect</key>
                <string>{{0,0},{28,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>assassin.png</string>
            <key>size</key>
            <string>{59,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e1b901d5f8ef1ba0b90bdf690e557388:f8311a3fac8c111f66fc1bf6ca1462ff:f021cdec06bba582a69f212d45521e48$</string>
            <key>textureFileName</key>
            <string>assassin.png</string>
        </dict>
    </dict>
</plist>
