<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>c01_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,29}</string>
                <key>spriteSourceSize</key>
                <string>{32,29}</string>
                <key>textureRect</key>
                <string>{{0,0},{32,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c01_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,30}</string>
                <key>spriteSourceSize</key>
                <string>{32,30}</string>
                <key>textureRect</key>
                <string>{{32,0},{32,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c01_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,30}</string>
                <key>spriteSourceSize</key>
                <string>{32,30}</string>
                <key>textureRect</key>
                <string>{{64,0},{32,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c01_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,29}</string>
                <key>spriteSourceSize</key>
                <string>{32,29}</string>
                <key>textureRect</key>
                <string>{{96,0},{32,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c01_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,29}</string>
                <key>spriteSourceSize</key>
                <string>{25,29}</string>
                <key>textureRect</key>
                <string>{{128,0},{25,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c01_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,30}</string>
                <key>spriteSourceSize</key>
                <string>{26,30}</string>
                <key>textureRect</key>
                <string>{{153,0},{26,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c01_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,30}</string>
                <key>spriteSourceSize</key>
                <string>{27,30}</string>
                <key>textureRect</key>
                <string>{{179,0},{27,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c01_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,29}</string>
                <key>spriteSourceSize</key>
                <string>{26,29}</string>
                <key>textureRect</key>
                <string>{{206,0},{26,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c01_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,24}</string>
                <key>spriteSourceSize</key>
                <string>{29,24}</string>
                <key>textureRect</key>
                <string>{{232,0},{29,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>knight.png</string>
            <key>size</key>
            <string>{261,30}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:67b7036bce7c25509ecd3ebc42aeea8e:48a380e2a9990d0fa8bffdb122db6fa4:2f689271eec2c0f2098986227ad4fb90$</string>
            <key>textureFileName</key>
            <string>knight.png</string>
        </dict>
    </dict>
</plist>
