<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>necromancer_8_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,33}</string>
                <key>spriteSourceSize</key>
                <string>{30,33}</string>
                <key>textureRect</key>
                <string>{{0,0},{30,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>necromancer_8_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,33}</string>
                <key>spriteSourceSize</key>
                <string>{30,33}</string>
                <key>textureRect</key>
                <string>{{30,0},{30,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>necromancer_8_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,33}</string>
                <key>spriteSourceSize</key>
                <string>{31,33}</string>
                <key>textureRect</key>
                <string>{{287,0},{31,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>necromancer_8_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,33}</string>
                <key>spriteSourceSize</key>
                <string>{27,33}</string>
                <key>textureRect</key>
                <string>{{318,0},{27,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>necromancer_8_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,34}</string>
                <key>spriteSourceSize</key>
                <string>{27,34}</string>
                <key>textureRect</key>
                <string>{{345,0},{27,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>necromancer_8_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,34}</string>
                <key>spriteSourceSize</key>
                <string>{30,34}</string>
                <key>textureRect</key>
                <string>{{372,0},{30,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>necromancer_8_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,34}</string>
                <key>spriteSourceSize</key>
                <string>{31,34}</string>
                <key>textureRect</key>
                <string>{{402,0},{31,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>necromancer_8_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,34}</string>
                <key>spriteSourceSize</key>
                <string>{32,34}</string>
                <key>textureRect</key>
                <string>{{433,0},{32,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>necromancer_8_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,33}</string>
                <key>spriteSourceSize</key>
                <string>{28,33}</string>
                <key>textureRect</key>
                <string>{{60,0},{28,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>necromancer_8_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,33}</string>
                <key>spriteSourceSize</key>
                <string>{27,33}</string>
                <key>textureRect</key>
                <string>{{88,0},{27,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>necromancer_8_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,34}</string>
                <key>spriteSourceSize</key>
                <string>{25,34}</string>
                <key>textureRect</key>
                <string>{{115,0},{25,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>necromancer_8_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,34}</string>
                <key>spriteSourceSize</key>
                <string>{26,34}</string>
                <key>textureRect</key>
                <string>{{140,0},{26,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>necromancer_8_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,34}</string>
                <key>spriteSourceSize</key>
                <string>{27,34}</string>
                <key>textureRect</key>
                <string>{{166,0},{27,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>necromancer_8_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,34}</string>
                <key>spriteSourceSize</key>
                <string>{29,34}</string>
                <key>textureRect</key>
                <string>{{193,0},{29,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>necromancer_8_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,33}</string>
                <key>spriteSourceSize</key>
                <string>{33,33}</string>
                <key>textureRect</key>
                <string>{{222,0},{33,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>necromancer_8_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,33}</string>
                <key>spriteSourceSize</key>
                <string>{32,33}</string>
                <key>textureRect</key>
                <string>{{255,0},{32,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>necromancer.png</string>
            <key>size</key>
            <string>{465,34}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:903ffa19275696a8d1f153c42ec6f02a:4209856092cd27fbbf576cb66c260900:a23867eb857ad0b6124c020882199681$</string>
            <key>textureFileName</key>
            <string>necromancer.png</string>
        </dict>
    </dict>
</plist>
