<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>element_exploded_thunder_small_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,13}</string>
                <key>spriteSourceSize</key>
                <string>{13,13}</string>
                <key>textureRect</key>
                <string>{{0,0},{13,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>element_exploded_thunder_small_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,29}</string>
                <key>spriteSourceSize</key>
                <string>{34,29}</string>
                <key>textureRect</key>
                <string>{{13,0},{34,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>element_exploded_thunder_small_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,33}</string>
                <key>spriteSourceSize</key>
                <string>{36,33}</string>
                <key>textureRect</key>
                <string>{{0,29},{36,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>element_exploded_thunder_small_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,34}</string>
                <key>spriteSourceSize</key>
                <string>{36,34}</string>
                <key>textureRect</key>
                <string>{{0,62},{36,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>element_exploded_thunder_small_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{36,62},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>element_exploded_thunder.png</string>
            <key>size</key>
            <string>{52,96}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5a3514c2fdd0e61ce3e605fcaa7d7041:171b5789ba2f2aad9dc2bc0246b73e68:cc9b1ea14ea0ef0cadde94bf2afd6a3b$</string>
            <key>textureFileName</key>
            <string>element_exploded_thunder.png</string>
        </dict>
    </dict>
</plist>
