<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss09_new_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,41}</string>
                <key>spriteSourceSize</key>
                <string>{50,41}</string>
                <key>textureRect</key>
                <string>{{86,40},{50,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss09_new_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,39}</string>
                <key>spriteSourceSize</key>
                <string>{50,39}</string>
                <key>textureRect</key>
                <string>{{128,0},{50,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss09_new_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,40}</string>
                <key>spriteSourceSize</key>
                <string>{38,40}</string>
                <key>textureRect</key>
                <string>{{0,40},{38,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss09_new_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,43}</string>
                <key>spriteSourceSize</key>
                <string>{37,43}</string>
                <key>textureRect</key>
                <string>{{102,166},{37,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss09_new_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,42}</string>
                <key>spriteSourceSize</key>
                <string>{38,42}</string>
                <key>textureRect</key>
                <string>{{102,123},{38,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss09_new_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,44}</string>
                <key>spriteSourceSize</key>
                <string>{40,44}</string>
                <key>textureRect</key>
                <string>{{37,209},{40,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss09_new_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,43}</string>
                <key>spriteSourceSize</key>
                <string>{40,43}</string>
                <key>textureRect</key>
                <string>{{139,166},{40,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss09_new_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,41}</string>
                <key>spriteSourceSize</key>
                <string>{40,41}</string>
                <key>textureRect</key>
                <string>{{175,40},{40,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss09_new_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,39}</string>
                <key>spriteSourceSize</key>
                <string>{39,39}</string>
                <key>textureRect</key>
                <string>{{178,0},{39,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss09_new_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,35}</string>
                <key>spriteSourceSize</key>
                <string>{39,35}</string>
                <key>textureRect</key>
                <string>{{36,0},{39,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss09_new_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,43}</string>
                <key>spriteSourceSize</key>
                <string>{35,43}</string>
                <key>textureRect</key>
                <string>{{179,166},{35,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss09_new_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,47}</string>
                <key>spriteSourceSize</key>
                <string>{33,47}</string>
                <key>textureRect</key>
                <string>{{146,209},{33,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss09_new_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,42}</string>
                <key>spriteSourceSize</key>
                <string>{50,42}</string>
                <key>textureRect</key>
                <string>{{195,81},{50,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss09_new_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,43}</string>
                <key>spriteSourceSize</key>
                <string>{35,43}</string>
                <key>textureRect</key>
                <string>{{214,166},{35,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss09_new_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,42}</string>
                <key>spriteSourceSize</key>
                <string>{36,42}</string>
                <key>textureRect</key>
                <string>{{140,123},{36,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss09_new_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,45}</string>
                <key>spriteSourceSize</key>
                <string>{37,45}</string>
                <key>textureRect</key>
                <string>{{77,209},{37,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss09_new_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,41}</string>
                <key>spriteSourceSize</key>
                <string>{39,41}</string>
                <key>textureRect</key>
                <string>{{215,40},{39,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss09_new_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,43}</string>
                <key>spriteSourceSize</key>
                <string>{37,43}</string>
                <key>textureRect</key>
                <string>{{0,209},{37,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss09_new_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,46}</string>
                <key>spriteSourceSize</key>
                <string>{32,46}</string>
                <key>textureRect</key>
                <string>{{114,209},{32,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss09_new_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,47}</string>
                <key>spriteSourceSize</key>
                <string>{33,47}</string>
                <key>textureRect</key>
                <string>{{179,209},{33,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss09_new_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,41}</string>
                <key>spriteSourceSize</key>
                <string>{39,41}</string>
                <key>textureRect</key>
                <string>{{0,81},{39,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss09_new_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,41}</string>
                <key>spriteSourceSize</key>
                <string>{40,41}</string>
                <key>textureRect</key>
                <string>{{39,81},{40,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss09_new_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,41}</string>
                <key>spriteSourceSize</key>
                <string>{40,41}</string>
                <key>textureRect</key>
                <string>{{79,81},{40,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss09_new_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,42}</string>
                <key>spriteSourceSize</key>
                <string>{52,42}</string>
                <key>textureRect</key>
                <string>{{0,123},{52,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss09_new_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,41}</string>
                <key>spriteSourceSize</key>
                <string>{38,41}</string>
                <key>textureRect</key>
                <string>{{119,81},{38,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss09_new_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,41}</string>
                <key>spriteSourceSize</key>
                <string>{38,41}</string>
                <key>textureRect</key>
                <string>{{157,81},{38,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss09_new_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,38}</string>
                <key>spriteSourceSize</key>
                <string>{53,38}</string>
                <key>textureRect</key>
                <string>{{75,0},{53,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss09_new_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,24}</string>
                <key>spriteSourceSize</key>
                <string>{18,24}</string>
                <key>textureRect</key>
                <string>{{18,0},{18,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss09_new_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,22}</string>
                <key>spriteSourceSize</key>
                <string>{18,22}</string>
                <key>textureRect</key>
                <string>{{0,0},{18,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss09_new_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,43}</string>
                <key>spriteSourceSize</key>
                <string>{53,43}</string>
                <key>textureRect</key>
                <string>{{176,123},{53,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss09_new_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,43}</string>
                <key>spriteSourceSize</key>
                <string>{52,43}</string>
                <key>textureRect</key>
                <string>{{0,166},{52,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss09_new_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,43}</string>
                <key>spriteSourceSize</key>
                <string>{50,43}</string>
                <key>textureRect</key>
                <string>{{52,166},{50,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss09_new_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,42}</string>
                <key>spriteSourceSize</key>
                <string>{50,42}</string>
                <key>textureRect</key>
                <string>{{52,123},{50,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss09_new_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,41}</string>
                <key>spriteSourceSize</key>
                <string>{39,41}</string>
                <key>textureRect</key>
                <string>{{136,40},{39,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss09_new_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,40}</string>
                <key>spriteSourceSize</key>
                <string>{38,40}</string>
                <key>textureRect</key>
                <string>{{217,0},{38,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss09_new_outline.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,40}</string>
                <key>spriteSourceSize</key>
                <string>{48,40}</string>
                <key>textureRect</key>
                <string>{{38,40},{48,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bossSnow.png</string>
            <key>size</key>
            <string>{255,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:512640caa234f30b74462af4c3672532:4ad3d209447af4845c7626ff1e434ebd:a717ad7305478c8c1320f7627dc45848$</string>
            <key>textureFileName</key>
            <string>bossSnow.png</string>
        </dict>
    </dict>
</plist>
