<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>enemy28_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,25}</string>
                <key>spriteSourceSize</key>
                <string>{29,25}</string>
                <key>textureRect</key>
                <string>{{0,0},{29,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy28_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,26}</string>
                <key>spriteSourceSize</key>
                <string>{30,26}</string>
                <key>textureRect</key>
                <string>{{0,25},{30,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy28_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,27}</string>
                <key>spriteSourceSize</key>
                <string>{29,27}</string>
                <key>textureRect</key>
                <string>{{0,51},{29,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy28_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,25}</string>
                <key>spriteSourceSize</key>
                <string>{30,25}</string>
                <key>textureRect</key>
                <string>{{0,78},{30,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy28_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,25}</string>
                <key>spriteSourceSize</key>
                <string>{29,25}</string>
                <key>textureRect</key>
                <string>{{0,103},{29,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy28_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,24}</string>
                <key>spriteSourceSize</key>
                <string>{29,24}</string>
                <key>textureRect</key>
                <string>{{0,128},{29,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy28_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,21}</string>
                <key>spriteSourceSize</key>
                <string>{31,21}</string>
                <key>textureRect</key>
                <string>{{0,152},{31,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>BumpingPig.png</string>
            <key>size</key>
            <string>{31,173}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6617787c02abfb194960f59f8f0638fb:7f15c007b3b14483fe1cfbaeaead67f5:514547b0d8b0caa42f502debcde7bda7$</string>
            <key>textureFileName</key>
            <string>BumpingPig.png</string>
        </dict>
    </dict>
</plist>
