<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>death_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,108}</string>
                <key>spriteSourceSize</key>
                <string>{112,108}</string>
                <key>textureRect</key>
                <string>{{100,1127},{112,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>death_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,108}</string>
                <key>spriteSourceSize</key>
                <string>{112,108}</string>
                <key>textureRect</key>
                <string>{{0,1235},{112,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>death_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,108}</string>
                <key>spriteSourceSize</key>
                <string>{113,108}</string>
                <key>textureRect</key>
                <string>{{112,1235},{113,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>death_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,108}</string>
                <key>spriteSourceSize</key>
                <string>{111,108}</string>
                <key>textureRect</key>
                <string>{{0,1343},{111,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heavyChop_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,96}</string>
                <key>spriteSourceSize</key>
                <string>{103,96}</string>
                <key>textureRect</key>
                <string>{{0,644},{103,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heavyChop_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,94}</string>
                <key>spriteSourceSize</key>
                <string>{103,94}</string>
                <key>textureRect</key>
                <string>{{121,360},{103,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heavyChop_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,92}</string>
                <key>spriteSourceSize</key>
                <string>{121,92}</string>
                <key>textureRect</key>
                <string>{{0,268},{121,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heavyChop_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,93}</string>
                <key>spriteSourceSize</key>
                <string>{121,93}</string>
                <key>textureRect</key>
                <string>{{0,360},{121,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heavyChop_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,98}</string>
                <key>spriteSourceSize</key>
                <string>{128,98}</string>
                <key>textureRect</key>
                <string>{{0,1029},{128,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heavyChop_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,145}</string>
                <key>spriteSourceSize</key>
                <string>{104,145}</string>
                <key>textureRect</key>
                <string>{{118,1746},{104,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heavyChop_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,134}</string>
                <key>spriteSourceSize</key>
                <string>{93,134}</string>
                <key>textureRect</key>
                <string>{{111,1343},{93,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heavyChop_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,135}</string>
                <key>spriteSourceSize</key>
                <string>{93,135}</string>
                <key>textureRect</key>
                <string>{{0,1611},{93,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heavyChop_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,134}</string>
                <key>spriteSourceSize</key>
                <string>{93,134}</string>
                <key>textureRect</key>
                <string>{{0,1477},{93,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heavyChop_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,135}</string>
                <key>spriteSourceSize</key>
                <string>{93,135}</string>
                <key>textureRect</key>
                <string>{{93,1611},{93,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heavyChop_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,134}</string>
                <key>spriteSourceSize</key>
                <string>{93,134}</string>
                <key>textureRect</key>
                <string>{{93,1477},{93,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heavyChop_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,142}</string>
                <key>spriteSourceSize</key>
                <string>{118,142}</string>
                <key>textureRect</key>
                <string>{{0,1746},{118,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heavyChop_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,91}</string>
                <key>spriteSourceSize</key>
                <string>{118,91}</string>
                <key>textureRect</key>
                <string>{{0,177},{118,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,96}</string>
                <key>spriteSourceSize</key>
                <string>{103,96}</string>
                <key>textureRect</key>
                <string>{{103,644},{103,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,96}</string>
                <key>spriteSourceSize</key>
                <string>{103,96}</string>
                <key>textureRect</key>
                <string>{{0,740},{103,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,96}</string>
                <key>spriteSourceSize</key>
                <string>{103,96}</string>
                <key>textureRect</key>
                <string>{{103,740},{103,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,97}</string>
                <key>spriteSourceSize</key>
                <string>{103,97}</string>
                <key>textureRect</key>
                <string>{{0,932},{103,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jump_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,96}</string>
                <key>spriteSourceSize</key>
                <string>{103,96}</string>
                <key>textureRect</key>
                <string>{{0,836},{103,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jump_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,95}</string>
                <key>spriteSourceSize</key>
                <string>{103,95}</string>
                <key>textureRect</key>
                <string>{{102,454},{103,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jump_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,90}</string>
                <key>spriteSourceSize</key>
                <string>{105,90}</string>
                <key>textureRect</key>
                <string>{{105,87},{105,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jump_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,101}</string>
                <key>spriteSourceSize</key>
                <string>{100,101}</string>
                <key>textureRect</key>
                <string>{{0,1127},{100,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jump_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,95}</string>
                <key>spriteSourceSize</key>
                <string>{104,95}</string>
                <key>textureRect</key>
                <string>{{0,549},{104,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jump_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,87}</string>
                <key>spriteSourceSize</key>
                <string>{103,87}</string>
                <key>textureRect</key>
                <string>{{105,0},{103,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jump_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,86}</string>
                <key>spriteSourceSize</key>
                <string>{105,86}</string>
                <key>textureRect</key>
                <string>{{0,0},{105,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jump_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,92}</string>
                <key>spriteSourceSize</key>
                <string>{104,92}</string>
                <key>textureRect</key>
                <string>{{121,268},{104,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,97}</string>
                <key>spriteSourceSize</key>
                <string>{103,97}</string>
                <key>textureRect</key>
                <string>{{103,932},{103,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,96}</string>
                <key>spriteSourceSize</key>
                <string>{103,96}</string>
                <key>textureRect</key>
                <string>{{103,836},{103,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,91}</string>
                <key>spriteSourceSize</key>
                <string>{105,91}</string>
                <key>textureRect</key>
                <string>{{118,177},{105,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,94}</string>
                <key>spriteSourceSize</key>
                <string>{102,94}</string>
                <key>textureRect</key>
                <string>{{0,454},{102,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,95}</string>
                <key>spriteSourceSize</key>
                <string>{105,95}</string>
                <key>textureRect</key>
                <string>{{104,549},{105,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,89}</string>
                <key>spriteSourceSize</key>
                <string>{105,89}</string>
                <key>textureRect</key>
                <string>{{0,87},{105,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>GraveGuard.png</string>
            <key>size</key>
            <string>{225,1891}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:426c5660d5ac7df6bc93c119f40b90e0:ac43042fea9f7367af5ed0af873fd083:d2f0ee46aa14d39d483edeab36239d14$</string>
            <key>textureFileName</key>
            <string>GraveGuard.png</string>
        </dict>
    </dict>
</plist>
