<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bombman_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,29}</string>
                <key>spriteSourceSize</key>
                <string>{30,29}</string>
                <key>textureRect</key>
                <string>{{0,0},{30,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bombman_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{0,29},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bombman_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{0,59},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bombman_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,29}</string>
                <key>spriteSourceSize</key>
                <string>{30,29}</string>
                <key>textureRect</key>
                <string>{{0,89},{30,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bombman_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,29}</string>
                <key>spriteSourceSize</key>
                <string>{30,29}</string>
                <key>textureRect</key>
                <string>{{0,118},{30,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bombman_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{0,147},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bombman_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,19}</string>
                <key>spriteSourceSize</key>
                <string>{29,19}</string>
                <key>textureRect</key>
                <string>{{0,177},{29,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bombman.png</string>
            <key>size</key>
            <string>{30,196}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dd4cf6a0a907c5810a394be69cfe103e:c393d0c3696c8311e91f4d8bd7b518bb:e22e3549bc5e201f394faf14f5af5e00$</string>
            <key>textureFileName</key>
            <string>bombman.png</string>
        </dict>
    </dict>
</plist>
